<form
  #generateTableForm="ngForm"
  ngNativeValidate
  (ngSubmit)="generateTable()"
  (input)="checkFormValidity()">
  <fieldset>
    <legend>Ширина і висота комірки таблиці</legend>

    <label>
      <span>Ширина</span>
      <input
        type="number"
        [min]="1"
        [max]="99"
        name="cell-width"
        #cellWidth="ngModel"
        ngModel
        required>
        <div
          class="warning-message"
          *ngIf="cellWidth.invalid && cellWidth.dirty">
            Введіть число в діапазоні 1..99
        </div>
    </label>

    <label>
      <span>Висота</span>
      <input
        type="number"
        min="1"
        max="99"
        name="cell-height"
        #cellHeight="ngModel"
        ngModel
        required>
        <div
          class="warning-message"
          *ngIf="cellHeight.invalid && cellHeight.dirty">
            Введіть число в діапазоні 1..99
        </div>
    </label>
  </fieldset>

  <fieldset>
    <legend>Товщина, колір, тип лінії таблиці</legend>

    <label>
      <span>Товщина</span>
      <input
        type="number"
        name="border-width"
        min="1"
        max="99"
        ngModel
        required
        #borderWidth="ngModel">
        <div
          class="warning-message"
          *ngIf="borderWidth.invalid && borderWidth.dirty">
            Введіть число в діапазоні 1..99
        </div>
    </label>
    <label>
      <span>Тип лінії</span>
      <select name="border-type" ngModel required>
        <option value="solid">Суцільна</option>
        <option value="dashed">Пунктирна</option>
        <option value="dotted">Точкова</option>
        <option value="double">Подвійна</option>
      </select>
    </label>
    <label>
      <span>Колір</span>
      <input type="color" name="border-color" ngModel required>
    </label>
  </fieldset>

  <fieldset>
    <legend>Кількість рядків і стовпців</legend>

    <label>
      <span>Кількість стовпців</span>
      <input
        type="number"
        class="form-control"
        name="cells"
        #cells="ngModel"
        min="1"
        max="99"
        ngModel
        required>
        <div
          class="warning-message"
          *ngIf="cells.invalid && cells.dirty">
            Введіть число в діапазоні 1..99
        </div>
    </label>

    <label>
      <span>Кількість рядків</span>
      <input
        type="number"
        class="form-control"
        name="rows"
        #rows="ngModel"
        min="1"
        max="99"
        ngModel
        required>
        <div
          class="warning-message"
          *ngIf="rows.invalid && rows.dirty">
            Введіть число в діапазоні 1..99
        </div>
    </label>
  </fieldset>

  <div class="btn-wrapper">
    <input
      type="submit"
      value="Додати"
      class="btn"
      *ngIf="generateTableForm.valid">
  </div>
</form>
