<form #generateListForm="ngForm" ngNativeValidate (ngSubmit)="generateList(generateListForm)">
  <div class="form-group">
    <label class="input-row">
      <span>Count of list items:</span>
      <input type="number" min="1" class="form-control" name="list-items" ngModel required>
    </label>
  </div>
  <div class="form-group">
    <label class="input-row">
      <span>Mark type:</span>
      <select name="mark-type" class="form-control" ngModel required>
        <option>disc</option>
        <option>circle</option>
        <option>square</option>
        <option>decimal</option>
      </select>
    </label>
  </div>
  <input type="submit" value="Create list" class="btn btn-success">
  <ng-content></ng-content>
</form>
