.jumbotron {
  color: #ffffff;
  padding: 15px;
}
.title {
  text-align: center;
  margin: 40px 0;
}
.wrapper {
  border: 2px solid grey;
  border-radius: 5px;
  padding: 25px;
  box-sizing: border-box;
  position: relative;
}
[type="radio"] {
  display: none;
}
.table-lable,
.list-lable {
  display: inline-block;
  background-color: #2b3136;
  border: 2px solid grey;
  border-bottom: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 2px 10px;
  transform: skew(-20deg);
  font-size: 14px;
}
.list-lable {
  border-left: none;
  border-top-left-radius: 0;
  margin-left: -1px;
}
.active {
  padding-top: 8px;
}
.list-lable.active {
  border-left: 2px solid gray;
  border-top-left-radius: 5px;
}
.table-lable:not(.table-lable.active) {
  border-right: none;
  border-top-right-radius: 0;
}
.choose-element-form {
  position: absolute;
  top: -28px;
}
