label {
  margin-right: 20px;
}
select {
  width: 40%;
}
.wrapper {
  position: relative;
}
[name="font-family"] {
  width: 200px;
  padding: 5px;
  border-radius: 5px;
}
[type="color"] {
  margin-left: 10px;
}
