<div class="wrapper">
  <form>
    <fieldset>
      <legend class="style-name">Розмір шрифту</legend>
      <label>
        <input type="radio" name="size" [(ngModel)]="data.styles['font-size']" value="12px">
        <span>12px</span>
      </label>
      <label>
        <input type="radio" name="size" [(ngModel)]="data.styles['font-size']" value="14px">
        <span>14px</span>
      </label>
      <label>
        <input type="radio" name="size" [(ngModel)]="data.styles['font-size']" value="16px">
        <span>16px</span>
      </label>
      <label>
        <input type="radio" name="size" [(ngModel)]="data.styles['font-size']" value="18px">
        <span>18px</span>
      </label>
      <label>
        <input type="radio" name="size" [(ngModel)]="data.styles['font-size']" value="20px">
        <span>20px</span>
      </label>
      <label>
        <input type="radio" name="size" [(ngModel)]="data.styles['font-size']" value="22px">
        <span>22px</span>
      </label>
      <label>
        <input type="radio" name="size" [(ngModel)]="data.styles['font-size']" value="24px">
        <span>24px</span>
      </label>
    </fieldset>
    <fieldset>
      <legend class="style-name">Шрифт</legend>
      <select name="font-family" [(ngModel)]="data.styles['font-family']">
        <option>Arial</option>
        <option>Tahoma</option>
        <option>Verdana</option>
        <option>Times New Roman</option>
        <option>Georgia</option>
      </select>
    </fieldset>
    <fieldset>
      <legend class="style-name">Колір</legend>
      <label>
        <span>Колір фону</span>
        <input type="color" name="background-color" [(ngModel)]="data.styles['background-color']">
      </label>
      <label>
        <span>Колір тексту</span>
        <input type="color" name="color" [(ngModel)]="data.styles.color">
      </label>
    </fieldset>
    <fieldset>
      <legend class="style-name">Стиль тексту</legend>
      <label>
        <input name="bold-text" type="checkbox" [(ngModel)]="data.classes['bold-text']">
        <span>Жирний</span>
      </label>
      <label>
        <input name="italic-text" type="checkbox" [(ngModel)]="data.classes['italic-text']">
        <span>Курсив</span>
      </label>
      <label>
        <input name="underlined-text" type="checkbox" [(ngModel)]="data.classes['underlined-text']">
        <span>Підкреслений</span>
      </label>
    </fieldset>
  </form>
</div>
