.bold-text {
  font-weight: bold;
}
.italic-text {
  font-style: italic;
}
.underlined-text {
  text-decoration: underline;
}
.jumbotron {
  border: 15px solid #2b3136;
}
.layout {
  overflow: auto;
  height: 250px;
  border-radius: 5px;
  line-height: 23px;
  padding: 10px 5px;
}
