* {
  box-sizing: border-box;
}
html, body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: whitesmoke;
  overflow: hidden;
}
h2 {
  text-align: center;
}
.fa-pen {
  font-size: 14px;
  color: tomato;
  cursor: pointer;
}